*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, button, .tag-sec .tag-el {
    font-family: "Gabriola", sans-serif;
}

p, .categories span, .book-cat-sec span {
    font-family: "Chiller", sans-serif;
}

button,
.categories span,
.book-cat-sec span {
    cursor: pointer;
}

nav {
    height: 80px;
    display: flex;
    padding: 0.5rem 2rem;
    border-bottom: 2px solid #f1f1f1;
    font-weight: 700;
    font-size: 22px;
    align-items: center;
}

.grey {
    color: #918e9b
}
.bold {
    font-weight: 700;
}

/* hero section */
section {
    padding: 2rem;
}

.hero{
    background: #000000a4 url("../assets/bg.jpg") no-repeat;
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-bottom: 2px solid #f1f1f1; 
    min-height: 100vh;
    color: white;
    line-height: 1.5;
}

.hero h1 {
    font-size: 46px;
}

.hero p {
    font-size: 24px;
}

.hero button {
    margin-top: 30px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 20px;
    font-weight: 700;
    padding: 7px 20px;
    border-radius: 20px;
}

.hero button:hover {
    color: black;
    background-color: white;
}

.hero-header {
    font-size: 3rem;
}

.hero-text {
    margin-bottom: 0;
    font-size: 1rem;
}

/* Categories */
.categories {
    background: #00000087 url(../assets/cat-sec.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: overlay;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 0 3rem;
}

.categories h1 {
    font-size: 54px;
    color: #fff;
}

.categories div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rebeccapurple; */
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 ;
}

.book-cat-sec {
    background-color: #e9e8e8;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    gap: 0.5rem;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
}


.categories span,
.book-cat-sec span {
    display: block;
    font-size: 20px;
    padding: 10px 15px;
    color: white;
    font-weight: 700;
    border-radius: 15px;
    text-align: center;
    letter-spacing: 2px;    
}

.book-cat-sec span {
    font-size: 16px;
}

.categories span:nth-child(1),
.book-cat-sec span:nth-child(1) {
    background-color: magenta;
}

.categories span:nth-child(2),
.book-cat-sec span:nth-child(2) {
    background-color: orange;
}
.categories span:nth-child(3),
.book-cat-sec span:nth-child(3) {
    background-color: blue;
}
.categories span:nth-child(4),
.book-cat-sec span:nth-child(4) {
    background-color: blueviolet;
}
.categories span:nth-child(5),
.book-cat-sec span:nth-child(5) {
    background-color: green;
}
.categories span:nth-child(6),
.book-cat-sec span:nth-child(6) {
    background-color: magenta;
}
.categories span:nth-child(7),
.book-cat-sec span:nth-child(7) {
    background-color: violet;
}
.categories span:nth-child(8),
.book-cat-sec span:nth-child(8) {
    background-color: indigo;
}
.categories span:nth-child(9),
.book-cat-sec span:nth-child(9) {
    background-color: red;
}

.Book-comp h1 {
    font-size: 28px;
}

.book-sec {
    background: #e9e8e8;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1rem;
    border-radius: 5px;
    padding: 1rem;
}
/* Book Element */
.bookEle {
    border: 1px solid red;
    padding: 1rem;
    border-radius: 5px;
    background-color: white;
    width: 200px;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    gap: 1rem;
}

.bookEle img {
    width: 170px;
    border-radius: 5px;
}

.bookEle p {
    font-size: 20px;
}

.tag-sec {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    /* justify-content: center; */
}

.tag-sec .tag-el {
    font-size: 14px;
    background-color: orange;
    letter-spacing: 1px;
    border-radius: 5px;
    padding: 3px 5px;
}

/* card Section */
.cardSection {
    display: flex;
    gap: 20px;
    overflow-x: auto;
    flex-wrap: nowrap;
    border-bottom: 2px solid #f1f1f1;
}

.card-sec {
    margin: 4rem auto;
    padding: 0.5rem;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    font-size: 12px;
    box-shadow: 0 0 4px 4px #f2f2f2;
    border-radius: 10px;
    position: relative;
}

.card-img {
    width: 220px;
    height: 300px;
    border-radius: 10px;
}

.card-stats {
    padding: 0.5rem 0;
}

.card-badge {
    position: absolute;
    top: 15px;
    left: 15px;
    background-color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.5px;
}


/* contact Section */
.Contact {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto; 
    padding: 1rem 3rem;
}

.contact-card {
    /* display: flex;
    flex-direction: column; */
    border-radius: 6px;  
    padding: 0.5rem;
    /* width: 250px; */
    /* height: auto; */
    box-shadow: 0 0 4px 4px #f2f2f2;
}

.contact-card img {
    width: 100%;
    height: 150px;
    align-self: center;
    border-radius: 6px;
}

.details {
    padding: 1rem 0;
}

.details h3 {
    margin-bottom: 0.5rem;
}

.details p {
    font-size: 14px;
}

/* footer */
.footer {
    background-color: #f2f2f2;
    padding: 1rem 0;
    text-align: center;
}